@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: "Serif6Beta";
  src: url("https://static.wfonts.com/data/2016/04/27/serif6-beta/Serif6Beta-Bold.otf")
    format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Serif72Beta-Black";
  src: url("/fonts/Serif72Beta-Regular.otf") format("opentype");

  font-weight: 100;
  font-display: swap;
}

@theme {
  --color-primary: #b99a5d;
  --color-primary-light: #d2b47a;
  --color-primary-dark: #927746;

  --color-secondary: #f3d69c;
  --color-secondary-dark: #d9bb7e;

  --color-background: #1a1815;
  --color-surface: #2a2621;

  --color-text: #f8f4ea;
  --font-serif6: "Serif6Beta", serif;
  --font-serif72: "Serif72Beta-Black", serif;
  --breakpoint-3xl: 2560px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.race-card .race-image {
  scale: 1.1;
  transition: 0.7s;
}

.race-card:hover .race-image {
  scale: 1.2;
}

.discover .content {
  min-height: 15vh;
}
.discover:hover .content {
  min-height: 25vh;
}
