@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: "Serif6Beta";
  src: url("https://static.wfonts.com/data/2016/04/27/serif6-beta/Serif6Beta-Bold.otf")
    format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Serif72Beta-Black";
  src: url("/fonts/Serif72Beta-Regular.woff2") format("woff2");

  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

#preview-render {
  font-family:
    "Serif72Beta-Black",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  font-size: 32px;
  color: #373c44;
}

@theme {
  --color-primary: #b99a5d;
  --color-primary-light: #d2b47a;
  --color-primary-dark: #a47b27;

  --color-secondary: #f3d69c;
  --color-secondary-dark: #d9bb7e;

  --color-background: #403e37;
  --color-surface: #2a2621;

  --color-text: #f8f4ea;
  --font-serif6: "Serif6Beta", serif;
  --font-serif72: "Serif72Beta-Black", serif;
  --breakpoint-3xl: 2560px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.race-card .race-image {
  scale: 1.1;
  transition: 0.7s;
}

.race-card:hover .race-image {
  scale: 1.2;
}

.discover .content {
  min-height: 15vh;
}
.discover:hover .content {
  min-height: 25vh;
}

@keyframes scalePulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
}

@keyframes goldGlow {
  0%,
  100% {
    text-shadow: 0px 2px 10px rgba(210, 180, 122, 0.3);
  }
  50% {
    text-shadow: 0px -2px 20px rgba(210, 180, 122, 0.7);
  }
}

.gold-glow {
  animation: goldGlow 5s ease-in-out infinite;
}

.aura {
  animation: scalePulse 5s ease-in-out infinite;
}

.left {
  float: left;
  width: 50%;
  height: 70%;
}

.right {
  width: 100%;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background: linear-gradient(90deg, #d9d9d9 25%, #eeeeee 50%, #d9d9d9 75%);

  background-size: 200% 100%;
  animation: shimmer 3s infinite linear;
}
html {
  scroll-behavior: smooth;
}
